<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWBE</title>

</head>

<body>
    <header>
        <h1>Bem-vindo à Minha Página Simples</h1>
    </header>

    <main>
        <p>Esta é uma página HTML básica. Você pode usar este template como ponto de partida para criar suas próprias páginas.</p>
        <p>Visite o <a href="#" target="_blank">PWBE</a> para mais informações.</p>
    </main>

    <footer>
        <p>&copy; 2024 PWBE</p>
    </footer>

</body>
</html>
