{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="{% static 'imagens/login.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/enviar_login" method="post"> 
                    {% csrf_token %}
                    <img src="../static/imagens/logo_senai.png" alt="logo_senai">
                    <h2>Login</h2>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <p class="{{ message.tags }}" style="padding: 10px 0; margin-top: -30px; color: #ba181b; font-weight: 600;">{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" name="email" required value="{{ email|default:'' }}">  
                        <label for="">E-mail</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="senha" name="senha" required>
                        <label for="">Senha</label>
                    </div>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>