*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

}
body{
  background-color: black;

}

body, input{
  font-family: "Poppins"; 
  

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}